.DS_Store

.idea/
*.iml

logs
*.log

pids
*.pid
*.seed

.sass-cache

node_modules
api.env.js
static
styleguide/dist
reports
coverage
transpiled
*.zip
*.tgz
.modules

sitespeed-result

.env
.envrc

# webpack info to get assets name
webpack-assets.json

# config
config/shared/ui.version.json
docker/delivery/config.template.tpl

stats.json
