/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2016 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import '~react-toolbox/components/button/theme';
@import '../../../styles/meta';
@import './config';

// -- react-toolbox button: theme API -- //
//  accent
//  button
//  flat
//  floating
//  icon
//  inverse
//  mini
//  neutral
//  primary
//  raised
//  rippleWrapper
//  toggle

%button {
  font-family: $font-family-primary;
  font-weight: $font-weight-thin;
  font-size: $font-size-normal;
  user-select: none;
  @include unselectable();
  cursor: pointer;
  &[disabled] {
    color: $color-font-2;
    // Note: for the moment, we choose to auto pointer-events to display cursor
    // disable if blocking pointer events is needed
    pointer-events: auto;
    cursor: not-allowed;
    & span > svg {
      fill: $color-font-1;
    }
  }
  & span:not([data-react-toolbox="tooltip"]) {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }
  // hard code fill for custom svg, warning for variants icon button
  & span > svg {
    fill: $color-font-4;
    display: flex;
    justify-content: center;
    //margin-top: -30%;
  }
}

.neutral:not([disabled]) {
  &.raised, &.floating {
    color: $button-neutral-color-contrast;
    background-color: $button-neutral-color;
  }
  &.flat, &.toggle {
    color: $color-primary-6;
    &:focus:not(:active) {
      color: $color-secondary-1;
    }
  }
  &.flat:hover {
    color: $color-secondary-1;
    background: $color-font-1;
    border: 1px solid $color-secondary-1;
  }
  &:hover {
    color: $color-secondary-1;
    & span > svg {
      fill: $color-secondary-1;
    }
  }
}

@include btn-colors("primary", $color-font-6, $color-primary-1, $color-secondary-1);

.primary:not([disabled]) {
  &.flat, &.toggle {
    color: $color-secondary-1;
    &:focus:not(:active) {
      color: $color-secondary-1;
      background: $color-font-1;
    }
  }

  &.flat:hover {
    color: $color-secondary-1;
    background: $color-font-1;
  }
}
