/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2017 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$font-family-primary: 'Catamaran', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$icon-font-family-primary: 'MaterialIcons';

// font sizes (we suppose that default font size is 16px)
$font-size-default: 1rem; // 16px

// titles
$title-size-1: 2.714rem;
$title-size-2: 1.8rem;
$title-size-3: 1.5rem;

// paragraph
$font-size-smaller: .5rem;
$font-size-small: .8rem;
$font-size-normal: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.4rem;
$font-size-larger: 1.7rem;
$font-size-xlarge: 1.9rem;

// font weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// colors
// primary
$color-primary-1: #36353A;
$color-primary-2: #4A4A52;
$color-primary-3: #5D5D66;
$color-primary-4: #75757F;
$color-primary-5: #8F8F99;
$color-primary-6: #808080;
$color-primary-7: #FFFFFF;
// secondary
$color-secondary-1: #60DADF;
$color-secondary-2: #6CBDEC;
$color-secondary-3: #84A5EC;
$color-secondary-4: #9991CD;
// ternary
$color-ternary-1: #FBB03B;

// font colors
$color-font-1: #47474C;
$color-font-2: #75757F;
$color-font-3: #8F8F99;
$color-font-4: #A6A6B2;
$color-font-5: #C0C0CC;
$color-font-6: #FFFFFF;

// radius
$radius-standard: 4px;

// spaces
$spacing-larger: 80px;
$spacing-large: 60px;
$spacing-standard: 50px;
$spacing-small: 40px;
$spacing-smaller: 30px;
$spacing-smallest: 20px;
$spacing-atomic: 10px;

// miscellaneous
@mixin unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// animation
$animation-duration: .35s;
$animation-delay: $animation-duration / 5;
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;
