/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2017 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import './meta';

// general backgrounds
.primary-background--1 {
  background: $color-primary-1;
}

.primary-background--2 {
  background: $color-primary-2;
}

.primary-background--3 {
  background: $color-primary-3;
}

.primary-background--4 {
  background: $color-primary-4;
}

.primary-background--5 {
  background: $color-primary-5;
}

.primary-background--6 {
  background: $color-primary-6;
}

// secondary backgrounds
.secondary-background--1 {
  background: $color-secondary-1;
}

.secondary-background--2 {
  background: $color-secondary-2;
}

.secondary-background--3 {
  background: $color-secondary-3;
}

.secondary-background--4 {
  background: $color-secondary-4;
}

// primary colors
.primary-color--1 {
  color: $color-primary-1;
}

.primary-color--2 {
  color: $color-primary-2;
}

.primary-color--3 {
  color: $color-primary-3;
}

.primary-color--4 {
  color: $color-primary-4;
}

.primary-color--5 {
  color: $color-primary-5;
}

.primary-color--6 {
  color: $color-primary-6;
}

.primary-color--7 {
  color: $color-primary-7;
}

// secondary colors
.secondary-color--1 {
  color: $color-secondary-1;
}

.secondary-color--2 {
  color: $color-secondary-2;
}

.secondary-color--3 {
  color: $color-secondary-3;
}

.secondary-color--4 {
  color: $color-secondary-4;
}

// ternary colors
.ternary-color--1 {
  color: $color-ternary-1;
}

// fonts colors
.font-color--1 {
  color: $color-font-1
}

.font-color--2 {
  color: $color-font-2
}

.font-color--3 {
  color: $color-font-3
}

.font-color--4 {
  color: $color-font-4
}

.font-color--5 {
  color: $color-font-5
}

.font-color--6 {
  color: $color-font-6
}

// font weights
.font-weight-thin {
  font-family: $font-family-primary;
  font-weight: 100;
}

.font-weight-light {
  font-family: $font-family-primary;
  font-weight: 300;
}

.font-weight-normal {
  font-family: $font-family-primary;
  font-weight: 400;
}

.font-weight-semi-bold {
  font-family: $font-family-primary;
  font-weight: 600;
}

.font-weight-bold {
  font-family: $font-family-primary;
  font-weight: 700;
}

// font sizes
.title-size--1 {
  font-size: $title-size-1;
}

.title-size--2 {
  font-size: $title-size-2;
}

.title-size--3 {
  font-size: $title-size-3;
}

.font-size--smaller {
  font-size: $font-size-smaller;
}

.font-size--small {
  font-size: $font-size-small;
}

.font-size--normal {
  font-size: $font-size-normal;
}

.font-size--medium {
  font-size: $font-size-medium;
}

.font-size--large {
  font-size: $font-size-large;
}

.font-size--larger {
  font-size: $font-size-larger;
}

// font weights
.font-standard--thin {
  font-weight: $font-weight-thin;
}

.font-standard--light {
  font-weight: $font-weight-light;
}

.font-weight-normal {
  font-weight: $font-weight-normal;
}

.font-standard--bold {
  font-weight: $font-weight-bold;
}

// utils classes
.title--default {
  font-weight: $font-weight-thin;
  font-size: $font-size-large;
  color: $color-secondary-1;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-normal {
  text-transform: none;
}

.content-gutter--default {
  padding-left: $spacing-larger;
  padding-right: $spacing-large;
}

.content-gutter--large {
  padding-left: $spacing-large;
  padding-right: $spacing-large;
}

.content-gutter--standard {
  padding-left: $spacing-standard;
  padding-right: $spacing-standard;
}

.content-gutter--smaller {
  padding-left: $spacing-smaller;
  padding-right: $spacing-smaller;
}

.content-spacer--large {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}

.content-spacer--small {
  padding-top: $spacing-smallest;
  padding-bottom: $spacing-smallest;
}

.icon--large {
  padding: 0;
  margin: 0;
  font-size: 140px !important;
}

.icon--small {
  padding: 0;
  margin: 0;
  font-size: 20px !important;
}

.icon--flex {
  display: flex;
  align-items: center;
}
