/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2017 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import '../../../styles/meta';

%content-p {
  padding-bottom: $spacing-smaller;
  color: $color-font-3;
}

%card-content {
  display: flex;
  flex-flow: column;
}

.card-content--row {
  flex-flow: row;
  align-items: center;
  width: 100%;
}

.card-content--raw {
  @extend %card-content;
}

.card-content--default {
  @extend %card-content;
  padding-left: $spacing-larger;
  padding-right: $spacing-large;
  &:first-child {
    padding-top: $spacing-standard / 2;
  }
  padding-bottom: $spacing-standard;
  p {
    @extend %content-p;
  }
}

.card-content--standard {
  @extend %card-content;
  padding-left: $spacing-large;
  padding-right: $spacing-large;
  &:first-child {
    padding-top: $spacing-large;
  }
  &:last-child {
    padding-bottom: $spacing-large;
  }
  p {
    @extend %content-p;
  }
}

.card-content--small {
  @extend %card-content;
  padding-left: $spacing-standard;
  padding-right: $spacing-standard;
  &:first-child {
    padding-top: $spacing-smallest;
  }
  &:last-child {
    padding-bottom: $spacing-smallest;
  }
  p {
    @extend %content-p;
  }
}

.content-title {
  font-weight: $font-weight-thin;
  font-size: $font-size-large;
  color: $color-secondary-1;
}

.card-paragraph--default {
  color: $color-font-3 !important;
}

.card-paragraph--light {
  color: $color-font-5 !important;
}

.card-paragraph--warning {
  color: $color-ternary-1 !important;
}
