/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2016 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import '~react-toolbox/components/checkbox/theme';
@import '../../../styles/meta';

$checkbox-size: $font-size-default;
$checkbox-text-font-size: $font-size-default;
$checkbox-text-color: $color-font-4;
$checkbox-disabled-color: $color-font-1;
$checkbox-color: $color-secondary-1;
$checkbox-field-margin-bottom: 0;

.field {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: $checkbox-size;
  margin-bottom: $checkbox-field-margin-bottom;
  .ripple {
    background-color: $checkbox-color;
  }
}

.text {
  font-size: $checkbox-text-font-size;
  line-height: $checkbox-size;
  color: $checkbox-text-color;
  white-space: nowrap;
  vertical-align: top;
  img {
    display: flex;
  }
}

.input {
  &:focus ~ .check {
    &:before {
      background-color: $color-secondary-1;
      opacity: 0.26;
    }
    &.checked:before {
      background-color: $color-secondary-1;
      opacity: 0.26;
    }
  }
}

.check {
  width: $checkbox-size;
  height: $checkbox-size;
  border-color: $checkbox-text-color;
  transition-property: background-color;
  &.checked {
    background-color: $checkbox-color;
    border-color: $checkbox-color;
    &:after {
      border-color: $color-font-1;
      position: absolute;
      top: -.05 * $unit;
      left: .2 * $unit;
      width: .38 * $unit;
      height: .7 * $unit;
    }
  }
}

.disabled {
  > .text {
    color: $checkbox-text-color;
  }
  > .check {
    cursor: not-allowed;
    border-color: $checkbox-disabled-color;
    &.checked {
      cursor: not-allowed;
      background-color: $checkbox-disabled-color;
      border-color: $checkbox-disabled-color;
    }
    &::after {
      border-color: $checkbox-text-color;
    }
  }
}

@keyframes checkmark-expand {
  0% {
    top: .3 * $unit;
    left: .4 * $unit;
    width: 0;
    height: 0;
  }

  100% {
    top: -.05 * $unit;
    left: .2 * $unit;
    width: .38 * $unit;
    height: .7 * $unit;
  }
}
